# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ambientes virtuais
.venv/
venv/

# IDE / Editor
.vscode/
.idea/

# Saves / runtime
save_game.json
save_game.db

# Sistema
.DS_Store
Thumbs.db
